<ng-container *ngIf="items && items.length > 0">
  <table class="uk-table">
    <thead>
      <tr>
        <th>{{ locale?.cart?.product }}</th>
        <th>{{ locale?.cart?.price }}</th>
        <th *ngIf="!isBasket">{{ locale?.cart?.quantity }}</th>
        <th>{{ locale?.cart?.total }}</th>
        <th *ngIf="isBasket"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>
          <div class="img-name">
            <img [src]="item.imageUrl" alt="" />
            <a
              [routerLink]="
                '/' +
                currentLang +
                (onB2bPage
                  ? '/wdv/shop/' + (item.id || item.productId)
                  : '/shop/' + (item.id || item.productId))
              "
              class="uk-text-nowrap"
            >
              <span>{{ item.productName }}</span>
            </a>
          </div>
        </td>
        <td>{{ item.price | currency: "EUR":"symbol" }}</td>
        <td *ngIf="!isBasket">{{ item.quantity }}</td>
        <td>{{ item.price * item.quantity | currency: "EUR":"symbol" }}</td>
        <td *ngIf="isBasket">
          <div class="button-group">
            <div class="incrementer">
              <button
                (click)="decrementItemQuantity(item)"
                class="uk-button uk-button-default uk-button-small"
              >
                <span uk-icon="icon: minus; ratio: 0.5;"></span>
              </button>
              <span class="number">{{ item.quantity }}</span>
              <button
                (click)="incrementItemQuantity(item)"
                class="uk-button uk-button-default uk-button-small"
              >
                <span uk-icon="icon: plus; ratio: 0.5;"></span>
              </button>
            </div>
            <button
              (click)="removeBasketItem(item)"
              class="uk-button uk-button-default uk-button-small"
            >
              <span uk-icon="icon: close;"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
