<ng-container>
  <h3>Order summary</h3>
  <p><em>Shipping costs will be added later during checkout</em></p>
  <table class="uk-table uk-table-divider">
    <tbody>
      <tr>
        <td>Subtotal</td>
        <td>
          <strong>{{ subtotal | currency: "EUR":"symbol" }}</strong>
        </td>
      </tr>
      <tr>
        <td>Shipping</td>
        <td>
          <strong>{{ shippingPrice | currency: "EUR":"symbol" }} </strong>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td>Total</td>
        <td>
          <strong>{{ total | currency: "EUR":"symbol" }}</strong>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
