<div [formGroup]="checkoutForm">
  <div class="cols-between">
    <h4 class="uk-margin-remove-bottom">Shipping</h4>
    <button
      (click)="saveUserShippingAddress()"
      [disabled]="
        !checkoutForm.get('shippingAddressForm').valid ||
        !checkoutForm.get('shippingAddressForm').dirty
      "
      class="uk-button uk-button-default uk-button-small"
    >
      Save as default address
    </button>
  </div>

  <div formGroupName="shippingAddressForm">
    <app-text-input
      [label]="'Full name'"
      formControlName="fullName"
    ></app-text-input>
    <app-text-input
      [label]="'Address line'"
      formControlName="addressLine1"
    ></app-text-input>
    <app-text-input
      [label]="'Street address'"
      formControlName="streetAddress"
    ></app-text-input>
    <app-text-input [label]="'City'" formControlName="city"></app-text-input>
    <app-text-input [label]="'Zip'" formControlName="zip"></app-text-input>
    <div class="uk-margin">
      <label class="uk-form-label">Country {{ currentShippingValue }}</label>
      <div class="uk-form-controls">
        <select
          (change)="setShippingPrice(deliveryMethod.value)"
          #deliveryMethod
          formControlName="country"
          class="uk-select"
        >
          <option *ngFor="let method of deliveryMethods" [value]="method.id">
            <span>{{ method.shortName }} - {{ method.price | currency }}</span>
          </option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="cols-between">
  <button routerLink="/basket" class="uk-button uk-button-default text-icon">
    <span uk-icon="icon: chevron-left"></span>
    <span>Back to basket</span>
  </button>
  <button
    (click)="switchTab(1)"
    [disabled]="checkoutForm.get('shippingAddressForm').invalid"
    class="uk-button uk-button-default text-icon"
  >
    <span>Review</span>
    <span uk-icon="icon: chevron-right"></span>
  </button>
</div>
