<div class="intro">
  <div class="intro__one text">
    <h1>{{ locale?.shop?.intro?.one?.header }}</h1>
    <h2>{{ locale?.shop?.intro?.one?.par }}</h2>
  </div>
  <div class="intro__two">
    <img [src]="'assets/img/home-book/' + currentLang + '.png'" alt="" />
    <div class="text">
      <h2>{{ locale?.shop?.intro?.two?.header }}</h2>
      <p>{{ locale?.shop?.intro?.two?.par }}</p>
    </div>
  </div>
  <div class="intro__three text">
    <p>{{ locale?.shop?.intro?.three?.par_1 }}</p>
    <p>{{ locale?.shop?.intro?.three?.par_2 }}</p>
  </div>
  <div class="intro__four text">
    <h2>{{ locale?.shop?.intro?.four?.header }}</h2>

    <div
      class="uk-position-relative uk-visible-toggle uk-light"
      tabindex="-1"
      uk-slider
    >
      <ul class="uk-slider-items uk-child-width-1-1">
        <li *ngFor="let image of [].constructor(14); let i = index">
          <img
            [src]="
              'assets/img/home-slider-book/' +
              (currentLang === 'de' ? 'de' : 'en') +
              '/' +
              (i + 1) +
              '.jpg'
            "
            alt=""
          />
        </li>
      </ul>
    </div>
  </div>
  <div class="intro__five text">
    <h2>{{ locale?.shop?.intro?.five?.header }}</h2>
    <p>{{ locale?.shop?.intro?.five?.par_1 }}</p>
    <p>{{ locale?.shop?.intro?.three?.par_2 }}</p>
  </div>
</div>

<app-shop></app-shop>
