<ng-container>
  <div class="login-grid">
    <div>
      <h2>{{ locale?.account?.login?.header }}</h2>

      <form (ngSubmit)="onLogin()" [formGroup]="loginForm" class="form">
        <app-text-input
          [label]="locale?.form?.email"
          formControlName="email"
        ></app-text-input>
        <app-text-input
          [label]="locale?.form?.password"
          [type]="'password'"
          formControlName="password"
        ></app-text-input>

        <div class="uk-margin">
          <button
            [disabled]="loginForm.invalid"
            class="uk-button uk-button-primary"
          >
            {{ locale?.account?.login?.btn }}
          </button>
        </div>
      </form>
    </div>

    <div class="login-grid__divider"></div>

    <div>
      <h2>{{ locale?.account?.register?.header }}</h2>

      <ul *ngIf="registerErrors" class="uk-list">
        <li *ngFor="let error of registerErrors">{{ error }}</li>
      </ul>

      <form (ngSubmit)="onRegister()" [formGroup]="registerForm" class="form">
        <app-text-input
          [label]="locale?.form?.email"
          formControlName="email"
        ></app-text-input>
        <app-text-input
          [label]="locale?.form?.password"
          [type]="'password'"
          formControlName="password"
        ></app-text-input>

        <div class="uk-margin">
          <button
            [disabled]="registerForm.invalid"
            class="uk-button uk-button-primary"
          >
            {{ locale?.account?.register?.btn }}
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
