<div class="checkout-page">
  <ng-container *ngIf="(basket$ | async) && (basket$ | async).items">
    <app-basket-summary
      [isBasket]="false"
      [items]="(basket$ | async).items"
    ></app-basket-summary>
  </ng-container>

  <div class="checkout-page__back-next cols-between">
    <button
      (click)="switchTab(1)"
      class="uk-button uk-button-default text-icon"
    >
      <span uk-icon="icon: chevron-left"></span>
      <span>Shipping</span>
    </button>
    <button
      (click)="createPaymentIntent()"
      class="uk-button uk-button-default text-icon"
    >
      <span>Payment</span>
      <span uk-icon="icon: chevron-right"></span>
    </button>
  </div>
</div>
