<div>
  <ng-container *ngIf="(basket$ | async) === null">
    <h2>{{ locale?.cart?.no_items_header }}</h2>
    <button
      [routerLink]="'/' + currentLang + (onB2bPage ? '/wdv/shop' : '/shop')"
      class="uk-button uk-button-default text-icon"
    >
      <span uk-icon="icon: cart"></span>
      <span>{{ locale?.cart?.back_to_shop }}</span>
    </button>
  </ng-container>

  <ng-container *ngIf="basket$ | async">
    <div class="checkout-grid">
      <div class="uk-overflow-auto">
        <app-basket-summary
          (decrement)="decrementItemQuantity($event)"
          (increment)="incrementItemQuantity($event)"
          (remove)="removeBasketItem($event)"
          [items]="(basket$ | async) && (basket$ | async).items"
          [locale]="locale"
        ></app-basket-summary>
      </div>

      <div>
        <app-order-totals
          *ngIf="basketTotals$ | async as totals"
          [shippingPrice]="totals.shipping"
          [subtotal]="totals.subtotal"
          [total]="totals.total"
          [locale]="locale"
        ></app-order-totals>
        <a
          [routerLink]="
            '/' + currentLang + (onB2bPage ? '/wdv/checkout' : '/checkout')
          "
          class="uk-button uk-button-primary"
          >{{ locale?.order_sum?.proceed_to_checkout }}</a
        >
      </div>
    </div>
  </ng-container>
</div>
