<ng-container *ngIf="product">
  <div class="product-grid">
    <a
      (click)="openLightbox()"
      class="product-grid__image img-overlay"
      uk-sticky="bottom: .product-grid; offset: 30"
    >
      <img [src]="product.imageUrl" alt="" />
      <div class="overlay">
        <span uk-icon="icon: search; ratio: 3;"></span>
      </div>
    </a>

    <div class="product-grid__info">
      <h2>{{ product.name }}</h2>
      <div class="labels">
        <span class="uk-label card__label">{{ product.productType }}</span>
        <span class="uk-label card__label">{{ product.langAlpha2 }}</span>
      </div>
      <h4>
        <ng-container *ngIf="onB2bPage">
          {{ product.priceB2b | currency: "EUR":"symbol" }}
        </ng-container>
        <ng-container *ngIf="!onB2bPage">
          {{ product.priceB2c | currency: "EUR":"symbol" }}
        </ng-container>
      </h4>
      <div class="cart-buttons">
        <div class="incrementer">
          <button
            (click)="decrementQuantity()"
            class="uk-button uk-button-default uk-button-small"
          >
            <span uk-icon="icon: minus; ratio: 0.5;"></span>
          </button>
          <span class="number">{{ quantity }}</span>
          <button
            (click)="incrementQuantity()"
            class="uk-button uk-button-default uk-button-small"
          >
            <span uk-icon="icon: plus; ratio: 0.5;"></span>
          </button>
        </div>
        <button
          (click)="addItemToBasket()"
          class="uk-button uk-button-default uk-button-small cart-buttons__add"
        >
          <span uk-icon="cart"></span>
          <span uk-icon="icon: plus; ratio: 0.6;"></span>
        </button>
      </div>

      <div [innerHTML]="product.description" class="inner-html"></div>

      <div id="lightbox" uk-lightbox="animation: slide">
        <a
          *ngFor="
            let image of [].constructor(product.sliderImages);
            let i = index
          "
          href="{{ staticContentUrl }}/static/images/products/{{
            product.id
          }}/{{ i + 1 }}.{{ i > 0 ? 'jpg' : 'png' }}"
        ></a>
      </div>
    </div>
  </div>
</ng-container>

<app-shop></app-shop>
