@import "src/styles/presets";

.product-grid {
  display: grid;
  @include media("<m") {
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
  }
  @include media(">m") {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  &__image {
    align-self: start;

    img {
      width: 100%;
    }
  }

  &__info {
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    gap: 1rem;
    @include media(">m") {
      padding: 1rem 0;
    }

    > * {
      margin: 0;
    }
  }
}

.inner-html {
}

.cart-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1rem;

  &__add {
    min-width: 60px;
    white-space: nowrap;
  }
}
