<ng-container *ngIf="order && order.orderItems && order.shippingPrice">
  <div>
    <div class="checkout-grid">
      <div class="uk-overflow-auto">
        <app-basket-summary
          [isBasket]="false"
          [isOrder]="true"
          [items]="order.orderItems"
          [locale]="locale"
        >
        </app-basket-summary>
      </div>

      <app-order-totals
        [shippingPrice]="order.shippingPrice"
        [subtotal]="order.subtotal"
        [total]="order.total"
        [locale]="locale"
      ></app-order-totals>
    </div>
  </div>
</ng-container>
