<ng-container *ngIf="order && order.orderItems && order.shippingPrice">
  <div class="uk-container uk-margin-top">
    <div class="checkout-grid">
      <div class="uk-overflow-auto">
        <app-basket-summary
          [items]="order.orderItems"
          [isBasket]="false"
          [isOrder]="true"
        >
        </app-basket-summary>
      </div>

      <app-order-totals
        [shippingPrice]="order.shippingPrice"
        [subtotal]="order.subtotal"
        [total]="order.total"
      ></app-order-totals>
    </div>
  </div>
</ng-container>
