<nav class="navbar">
  <ul class="navbar__list">
    <li>
      <a
        [href]="
          currentLang === 'de'
            ? 'http://www.dasletztekochbuch.at/books/'
            : 'http://www.dasletztekochbuch.at/eng_paperbooks/'
        "
      >
        <span uk-icon="icon: home"></span>
      </a>
    </li>
    <li></li>
    <li>
      <a
        [routerLink]="'/' + currentLang + (onB2bPage ? '/wdv/shop' : '/shop')"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        >SHOP</a
      >
    </li>
    <li></li>
    <li>
      <a
        [routerLink]="
          '/' + currentLang + (onB2bPage ? '/wdv/basket' : '/basket')
        "
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        >WARENKORB</a
      >
    </li>
    <li></li>
    <li>
      <a
        [routerLink]="
          '/' +
          currentLang +
          (onB2bPage
            ? (currentUser$ | async)
              ? '/orders'
              : '/wdv/account/login'
            : (currentUser$ | async)
            ? '/orders'
            : '/account/login')
        "
        [routerLinkActiveOptions]="{ exact: false }"
        routerLinkActive="active"
        >ACCOUNT</a
      >
    </li>
  </ul>

  <ul class="navbar__list">
    <li>
      <a (click)="changeLang('de')" [class.active]="currentLang === 'de'"
        >DEUTSCH</a
      >
    </li>
    <li></li>
    <li>
      <a (click)="changeLang('en')" [class.active]="currentLang === 'en'"
        >ENGLISCH</a
      >
    </li>
    <li></li>
    <li>
      <a (click)="changeLang('es')" [class.active]="currentLang === 'es'"
        >SPANISCH</a
      >
    </li>
    <li></li>
    <li>
      <a (click)="changeLang('ru')" [class.active]="currentLang === 'ru'"
        >RUSSISCH</a
      >
    </li>
    <li></li>
    <li>
      <a (click)="changeLang('jp')" [class.active]="currentLang === 'jp'"
        >JAPANISCH</a
      >
    </li>
  </ul>
</nav>
