@import "../../node_modules/include-media/dist/include-media.scss";
@import "tailwind-colors";

$breakpoints: (
  "s": 640px,
  "m": 960px,
  "l": 1200px,
  "xl": 1600px,
);

$global-font-family: "antipasto", sans-serif;
$global-primary-background: $orange-600;
$global-link-color: $gray-800;
$global-link-hover-color: $orange-600;
$button-secondary-background: $gray-400;
$button-secondary-color: lighten($button-secondary-background, 50%);
$button-secondary-hover-background: darken($button-secondary-background, 10%);
$button-secondary-hover-color: lighten($button-secondary-background, 50%);
$button-secondary-active-background: darken($button-secondary-background, 5%);
$button-secondary-active-color: lighten($button-secondary-background, 40%);
