@import "presets";

// Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme";
@import "../../node_modules/uikit/src/scss/mixins-theme";

// Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme";

// ngx-toastr
@import "../../node_modules/ngx-toastr/toastr.css";

@font-face {
  font-family: "antipasto";
  src: url("../assets/fonts/Antipasto-Pro/Antipasto-Pro-Medium-OTF.otf")
    format("opentype");
  font-weight: normal;
  font-display: block;
}

html {
  @include media("<m") {
    font-size: 18px;
  }
  @include media(">m") {
    font-size: 20px;
  }
}

.img-overlay {
  position: relative;

  &:hover {
    .overlay {
      opacity: 1;
    }
  }

  .overlay {
    transition: 0.2s all;
    opacity: 0;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: grid;
    place-items: center;
    color: black;
    background: rgba(white, 0.6);
  }
}

.labels {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.incrementer {
  display: grid;
  grid-template-columns: 50px 50px 50px;

  .number {
    display: grid;
    place-items: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }
}

.button-group {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  justify-content: end;

  > button {
    min-width: 50px;
  }
}

.img-name {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;

  img {
    min-width: 50px;
    max-height: 60px;
    object-fit: contain;
  }
}

.spinner-container {
  position: relative;

  .uk-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.cols-between {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.text-icon {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.3rem;
}

.uk-table-hover {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.checkout-grid {
  display: grid;
  gap: 1rem;
  @include media(">l") {
    grid-template-columns: 1fr 500px;
  }
}
